<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-3.0.xsd">
               
     <context:annotation-config/>
     
  
  <bean class="coreq1.Address" name="temaddress">
  <property name="street" value="street 5"/>
  <property name="city" value="hyderabad"/>
 </bean>
 
 <bean class="coreq1.Employee" name="emp">
 </bean>
 </beans>